* {
  box-sizing: border-box;
}
:root {
  --text-color-light-gray: #656689;
  --Primary-color-black-green: #ff5b2e;
  --Primary-color-black: #000958;
  --Scondery-color-light-green: #5e6085;
  --Scondery-color-gray: #48496a;
  --primary-background-color: #fffaf5;
  --secondery-background-color: #fff6ed;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--text-color-light-gray);
  font-family: "Public Sans";
  font-size: 1.4rem;
  line-height: 1.56;
}
/* common */

.section-heading {
  position: relative;
  font-family: "Sora", sans-serif;
  color: var(--Primary-color-black);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

/* .section-heading::after {
  position: absolute;
  right: 115px;
  bottom: 20%;
  display: block;
  content: "";
  width: 66px;
  height: 2px;
  background: var(--Primary-color-black, #152427);
} */

.section-desc {
  color: var(--text-color-light-gray);
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.67; /* 166.667% */
}
/* button {
  background-color: #fff;
  cursor: pointer;
} */

.btn {
  --height: 60px;
  display: inline-block;
  color: #fff;
  border-radius: 40px;
  border: 1.5px solid var(--Primary-color-black-green);
  background: var(--Primary-color-black-green);
  height: var(--height);
  width: 189px;
  text-align: center;
  line-height: var(--height);
  padding: 0 20px;
  border-radius: 40px;
  font-weight: 600;
  font-size: 1.6rem;
}
input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.container {
  width: 1170px;
  /* khi co màn hình lại luôn giữ khoảng trống mỗi bên là 24px */
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* full màn hình */
  background: #fffaf5;
  z-index: 1000;
}

.header-fixed {
  /* top: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0 28px;
}

.header__nav {
  display: flex;
  column-gap: 36px;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.header__nav-link.active,
.header__nav-link:hover {
  color: var(--Primary-color-black);
  font-weight: 600;
}
.header__nav-link {
  position: relative;
  color: var(--Scondery-color-light-green);
  font-weight: 500;
}
.header__nav-link::after {
  position: absolute;
  bottom: -12px;
  left: 0;
  content: "";
  display: none;
  width: 16px;
  height: 2px;
  background-color: #000958;
}
.header__nav-link:hover::after {
  display: block;
}
.header__nav-link.active::after {
  display: block;
}

.header__btn {
  color: var(--Primary-color-black);
  background-color: transparent;
  border-radius: 25px;
  width: 117px;
  --height: 50px;
  border: 1px solid var(--Primary-color-black);
  opacity: 0.7;
}
/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 145px;
  background-color: var(--primary-background-color);
}

.hero__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hero media */

.hero__media {
  position: relative;
  width: 45.47%;
}
.hero__media--img {
  position: relative;
  width: 75%;
  height: 488px;
  border-radius: 16px;
  object-fit: cover;
  z-index: 10;
}

.hero__media--union-left {
  position: absolute;
  top: 252px;
  left: -60px;
}
.hero__media--union-right {
  position: absolute;
  top: 16px;
  right: 93px;
}

.hero__media--img-under {
  width: 186px;
  height: 224px;
  object-fit: cover;
  border-radius: 16px;
  background: #faa7ad;
}
.hero-content {
  width: 44.2%;
}
