* {
  box-sizing: border-box;
}
:root {
  --text-color-light-gray: #656689;
  --Primary-color-black-green: #ff5b2e;
  --Primary-color-black: #000958;
  --Scondery-color-light-green: #5e6085;
  --Scondery-color-gray: #48496a;
  --primary-background-color: #fffaf5;
  --secondery-background-color: #fff6ed;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background: #fffaf5;
}

a {
  text-decoration: none;
  color: var(--text-color-light-gray);
  font-family: "Public Sans";
  font-size: 1.4rem;
  line-height: 1.56;
}
/* common */

.section-heading {
  position: relative;
  font-family: "Sora", sans-serif;
  color: var(--Primary-color-black);
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

/* .section-heading::after {
  position: absolute;
  right: 115px;
  bottom: 20%;
  display: block;
  content: "";
  width: 66px;
  height: 2px;
  background: var(--Primary-color-black, #152427);
} */

.section-desc {
  color: var(--text-color-light-gray);
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.67; /* 166.667% */
}
/* button {
  background-color: #fff;
  cursor: pointer;
} */

.btn {
  --height: 56px;
  display: inline-block;
  color: #fff;
  border-radius: 40px;
  border: 1.5px solid var(--Primary-color-black-green);
  background: var(--Primary-color-black-green);
  height: var(--height);
  min-width: 130px;
  text-align: center;
  line-height: var(--height);
  /* padding: 0 20px; */
  border-radius: 99px;
  font-weight: 600;
  font-size: 1.6rem;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

.container {
  width: 1170px;
  /* khi co màn hình lại luôn giữ khoảng trống mỗi bên là 24px */
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* full màn hình */
  z-index: 1000;
  background: #fffaf5;
}

.header-fixed {
  /* top: 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
}

/* .header__nav {
  display: flex;
  column-gap: 36px;
} */
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar__list {
  display: flex;
  /* gap: 36px; */
}
.header__nav-link.active,
.header__nav-link:hover {
  color: var(--Primary-color-black);
  /* font-weight: 600; */

  text-shadow: 1px 0 0 currentColor;
}
.header__nav-link {
  position: relative;
  color: var(--Scondery-color-light-green);
  font-weight: 500;
  padding: 8px 18px;
}
.header__nav-link::after {
  position: absolute;
  bottom: -12px;
  left: 18px;
  content: "";
  display: none;
  width: 16px;
  height: 2px;
  background-color: #000958;
}
.header__nav-link:hover::after {
  display: block;
}
.header__nav-link.active::after {
  display: block;
}

.header__action {
  display: flex;
  gap: 10px;
}
.header-action_link {
  color: var(--Primary-color-black);
  background-color: transparent;
  border-radius: 99px;
  width: 117px;
  --height: 50px;
  border: none;
}

.header-action_link:hover {
  border: 1px solid rgb(0, 9, 88, 0.7);
  /* opacity: 0.7; không đặt opacity giống thiết kế vì làm vậy cả border và chữ bên trong đều mờ đi  */
}
/* Hero */
.hero {
  margin-top: 190px;
  padding-bottom: 20px;
  /* background-color: var(--primary-background-color); */
}

.hero__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hero media */

.hero__media {
  width: 47.35%;
  display: flex;
  padding-bottom: 94px;
}

.hero__img-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 70%;
  aspect-ratio: 388 / 488;
  border-radius: 16px;
  background: #fe997b;
  border: 3px solid #fff;
}

.hero__img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
}

.hero__decor {
  position: absolute;
  /* đảm bảo decor nằm trên ảnh */
  pointer-events: none; /* không chặn tương tác chuột */
  z-index: -1;
}

.hero__decor-left {
  bottom: 10px;
  left: -58px;
}
.hero__decor-right {
  top: 16px;
  right: -40px;
}

.hero__img-wrap-small {
  align-self: flex-end;
  margin-left: -24px;
  margin-bottom: -58px;
  width: 33.57%;
  aspect-ratio: 186 / 244;
  background: #faa7ad;
  border: 2px solid #f7dddf;
}

.hero__list {
  align-self: flex-end;
  margin-left: -425px;
  margin-bottom: -111px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* justify-content: center; */
  /* align-items: center; */
  width: 45.13%;
  aspect-ratio: 250 / 156;
  padding: 18px 14px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  z-index: 100;
}

.hero__list-item-thumb {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 10px;
  background: #c6e2fa;
}

.hero__list-item-upper {
  background: #fec23f;
}

.hero__list-item {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 10px;
}

.hero__list-item:nth-child(2) .hero-list .hero__list-item__thumb {
  width: 100%;
  height: 2px;
  background-color: #f2f2f2;
  border-radius: 99px;
}

.hero__list-item--info {
  width: 53.15%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.hero__list-item--title {
  color: #181e52;
  font-family: "Sora", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}

.hero__list-item--skeleton {
  width: var(--percent);
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}

.hero-content {
  width: 44.2%;
}

.hero-heading {
  color: #000958;
  font-family: Sora;
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.15; /* 115.152% */
  margin-bottom: 24px;
}

.hero-desc {
  width: 75.63%;
  color: #656689;
  font-family: Poppins;
  font-size: 1.6rem;
  line-height: 1.88;
  font-weight: 400;
  margin-bottom: 38px;
}

.hero__row {
  display: flex;
  align-items: center;
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  --height: 60px;
  width: 36.56%;
  box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
  font-size: 1.6rem;
}

.btn__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
  background: #fffaf5;
  box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
}

.hero-link {
  color: #000958;
  text-align: center;
  font-size: 1.6rem;
  margin-left: 24px;
  font-weight: 500;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

/* ABOUT */

.about {
  margin-top: 8px;
  padding: 53px 0;
}

.about__inner {
  padding-top: 77px;
}

.about__label {
  color: #5e6085;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.about-heading {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 24px;
}

.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  row-gap: 146px;
}

.about__content {
  width: 81.54%;
  margin-right: 108px;
}

.about-desc {
  width: 90.36%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
  margin-bottom: 54px;
}

.about__checklist {
  margin-top: 54px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}
.check--item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #48496a;
  font-family: Poppins;
  font-size: 1.7rem;
  font-weight: 500;
}
.check--item::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #ff5d31;
  border-radius: 4px;
  background: #ff5d31;
  box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.check--item::after {
  content: url(../icon/Vector.png);
  position: absolute;
  left: 5px;
  top: 2px;
}

.about__media--top {
  position: relative;
  margin-left: 75px;
}
.about__card {
  position: absolute;
  top: 162px;
  left: -94px;
  width: 136px;
  text-align: center;
  padding: 30px 26px;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
  z-index: 10;
}

.about__card--title {
  color: #fff;
  text-align: center;
  font-family: Sora, sans-serif;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1; /* 100% */
  margin-bottom: 14px;
}

.about__card--desc {
  color: #c6f4f9;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43; /* 142.857% */
}

.about__card--decor {
  position: absolute;
  top: -39px;
  right: -32px;
}

.about__img--wrap {
  position: relative;
  width: 494px;
  /* aspect-ratio: 494/602; */
  border-radius: 16px;
}

.about__img--wrap::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: inline-block;
  width: 100%;
  aspect-ratio: 494/336;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  z-index: -1;
}
.about__media--img {
  display: block;
  width: 91.09%;
  object-fit: cover;
  margin: 0 auto;
  z-index: 3;
}

.about__media-decor {
  position: absolute;
  top: 157px;
  right: -50px;
  z-index: -1;
}

.about__img--wrap-bottom::after {
  content: none;
}

.about__img--wrap-bottom {
  width: 458px;
  border-radius: 18px;
  border: 2px solid #fff;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
  box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
}
.about__media--img--bottom {
  width: 100%;
  object-fit: cover;
}

.about__decor-img {
  position: absolute;
}

.about__decor-img:nth-child(1) {
  top: 13px;
  right: 64px;
}

.about__decor-img:nth-child(2) {
  top: -16px;
  right: 13px;
}

.about__decor-img:nth-child(3) {
  top: 33px;
  right: -21px;
}

.about__decor-img:nth-child(4) {
  top: 268px;
  right: -33px;
}

.about__decor-img:nth-child(5) {
  bottom: 150px;
  right: 19px;
}
.about__decor-img:nth-child(6) {
  right: -24px;
  bottom: -40px;
}
.about__decor-img:nth-child(7) {
  right: -33px;
  bottom: -47px;
}

.about__decor-img:nth-child(8) {
  bottom: -55px;
  right: -42px;
}

.about__content-bottom {
  width: 100%;
  margin-right: 0;
}

.about-heading-bottom {
  width: 92.82%;
}

.about-desc-bottom {
  width: 87.35%;
  margin-bottom: 50px;
}

.tab__list {
  position: relative;
  display: flex;
  align-items: center;
  gap: 56px;
}

.tab_content-more::after,
.tab__list::after,
.tab__item--active::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: inline-block;
  width: 95.21%;
  height: 2px;
  border-radius: 1px;
  opacity: 0.07;
  background: #ff5b2e;
}

.tab__item--active::after {
  width: 95px;
  opacity: 1;
}

.tab__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  /* margin-bottom: 14px; */
  padding-bottom: 12px;
  cursor: pointer;
}

.tab__icon {
  width: 18px;
  height: 18px;
}

.tab__title {
  color: #48496a;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.tab__contents {
  padding-top: 36px;
}

.tab__content-desc {
  width: 391px;
  color: #656689;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.72; /* 171.429% */
  margin-bottom: 32px;
}

.tab_content-more {
  position: relative;
  display: inline-block;
  color: #ff5d31;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1; /* 100% */
  padding-bottom: 5px;
}

.tab_content-more::after {
  opacity: 1;
  /* background: #ff5d31; */
}

.tab__content-item {
  display: none;
}

.tab__content-item-active {
  display: block;
  height: 1.5px;
}

/* Services */

.services {
  margin-top: 190px;
  background: #fff6ed;
  padding: 68px 0 100px;
}

.section-top {
  text-align: center;
  margin-bottom: 31px;
}

.service__desc {
  color: #5e6085;
  font-family: Sora, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  margin-bottom: 15px;
}

.service__body {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: space-between;
  column-gap: 71px;
}

.service__column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.service__item {
  width: 294px;
  /* height: 208px; */
  flex-shrink: 0;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background: #fff;
  padding: 30px 22px 30px 28px;
}

.service__item--heading {
  margin-left: 12px;
  margin-bottom: 18px;
  position: relative;
  display: inline-block;
  color: #000958;
  font-family: Sora, sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.service__item--heading::before {
  position: absolute;
  left: -12px;
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service__item--desc {
  color: #656689;
  font-family: Poppins, sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.72; /* 171.429% */
  margin-bottom: 24px;
}

.service__item--more {
  display: inline-flex;
  align-items: center;
  color: #34396a;
  font-family: Sora, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1; /* 100% */
}

.service__item--more::after {
  content: url(../icon/service_icon.svg);
  margin: 1px 0 0 6px;
}
.service__img-wrap {
  position: relative;
  width: 440px;
  height: 650px;
  margin-bottom: 45px;
}

.service__img-wrap::after {
  position: absolute;
  bottom: 0;
  right: 22px;
  z-index: 3;
  content: "";
  display: inline-block;
  width: 410px;
  height: 350px;
  border-radius: 10px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__thumb {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  object-fit: cover;
}

.btn-viewall {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 214px;
  height: 56px;
  border-radius: 31px;
  border: 1px solid #ff5b2e;
  opacity: 0.6;
  box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
  color: #ff5b2e;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1; /* 100% */
  margin: 0 auto;
}

.btn-viewall:hover {
  opacity: 1;
}

/* Staff  */

.staff {
  padding: 130px 0;
}

.staff__desc {
  color: #5e6085;
  font-family: Sora, sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  margin-bottom: 16px;
}

.staff__heading {
  margin-bottom: 59px;
}

.staff__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 36px;
}

.staff__item {
  text-align: center;
}

.staff__item--img-wrap {
  position: relative;
  margin: 0 16px;
  border-radius: 130px;
}

.staff__item--img-wrap::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 94%;
  border-radius: inherit;
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff__item:nth-child(2) .staff__item--img-wrap::before {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff__item:nth-child(3) .staff__item--img-wrap::before {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff__item:nth-child(4) .staff__item--img-wrap::before {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff__item--img-wrap::after {
  content: "";
  position: absolute;

  left: 50%;
  bottom: 0;

  transform: translateX(-50%);
  width: calc(100% + 36px);
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.staff__item:nth-child(1) .staff__item--img-wrap::after {
  background-image: url(../icon/staff_01.svg);
}

.staff__item:nth-child(2) .staff__item--img-wrap::after {
  background-image: url(../icon/staff_02.png);
  background-position: 0 16px;
}

.staff__item:nth-child(3) .staff__item--img-wrap::after {
  background-image: url(../icon/staff_03.png);
}

.staff__item:nth-child(4) .staff__item--img-wrap::after {
  background-image: url(../icon/staff_04.png);
  background-position: 0 16px;
}
.staff__item-img {
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
  display: block;
  border-radius: inherit;
}

.staff__item--title {
  margin-top: 34px;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1; /* 100% */
}

.staff__item--name {
  margin-top: 14px;
  color: #000958;
  font-family: Sora, sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.staff__cta {
  margin-top: 48px;
}

/* Pricing */

.pricing {
  padding: 86px 0;
  background: #fff6ed;
}

.pricing-container {
  width: 994px;
}

.pricing-desc,
.pricing-heading {
  text-align: center;
}

.pricing-heading {
  margin-bottom: 24px;
}

.pricing-desc {
  /* display: inline-block; */
  width: 60.1%;
  margin-bottom: 38px;
  margin-left: auto;
  margin-right: auto;
}

.pricing__switch-wrap {
  display: flex;
  justify-content: center;
}

.pricing__switch-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  width: 276px;
  height: 56px;
  border-radius: 99px;
  border: 1px solid #ff5b2e99;
  user-select: none;
  cursor: pointer;
}

.pricing__switch-label::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 140px;
  height: 100%;
  border-radius: inherit;
  background: #ff5b2e;
}

.pricing__switch-value {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1; /* 100% */
}

.pricing__switch-input:checked + .pricing__switch-label::before {
  width: 131px;
  left: auto;
  right: 0;
}

.pricing__switch-input:not(:checked) + .pricing__switch-label .pricing__switch-value:nth-of-type(2),
.pricing__switch-input:checked + .pricing__switch-label .pricing__switch-value:nth-of-type(1) {
  color: #ff5b2e;
}

.pricing__switch-inner {
  position: relative;
}

.pricing__sale-off {
  position: absolute;
  top: -10px;
  right: -112px;
}

.pricing__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 44px;
  margin-top: 56px;
}

.pricing__item {
  padding: 30px 28px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 20px 44px 0 rgba(195, 108, 22, 0.06);
}

.pricing__item--type {
  color: #ff5b2e;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1; /* 100% */
}

.pricing__item--heading {
  color: #3f4065;
  font-family: Sora, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  margin-top: 8px;
}

.pricing__item-price {
  color: #000958;
  font-family: Sora, sans-serif;
  font-size: 3.4rem;
  font-weight: 700;
  line-height: 1;
  margin-top: 24px;
}

.pricing__item-btn {
  margin-top: 22px;
  width: 100%;
  color: #ff5b2e;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1; /* 100% */
  border: 1px solid rgba(255, 91, 46, 0.6);
  background: #fff;
}

.pricing__item-btn:hover {
  color: #fff;
  background: #ff5b2e;
}

.pricing__item-list {
  margin-top: 24px;
}

.pricing__item-item {
  display: flex;
  margin-top: 18px;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1; /* 100% */
}

.pricing__item-item::before {
  content: url(../icon/price_check.svg);
  margin-right: 14px;
}

.review {
  padding: 105px 0 52px;
}

.review__inner {
  display: flex;
  align-items: center;
  column-gap: 44px;
}

.review__list {
  display: flex;
}

.review__control {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1.5px solid #ffd1c4;
  background-color: transparent;
  color: #ff5b2e;
}

.review__control:nth-of-type(2) {
  margin-left: auto;
}
.review__control:hover {
  color: #fff;
  background-color: #ff5b2e;
  cursor: pointer;
  border-color: #ff5b2e;
}

.review__item {
  display: flex;
  align-items: center;
  column-gap: 115px;
}

.review__item--media {
  position: relative;
  flex-shrink: 0;
  width: 274px;
  border-radius: 137px;
  margin-top: -52px;
}

.review__item--media::before {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  height: 82%;
  border-radius: inherit;
  background: #ffda54;
}

.review__item--img {
  position: relative;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: inherit;
  z-index: 1;
}

.review__content {
  overflow: hidden;
}
.review__item {
  margin-top: 28px;
  flex-shrink: 0;
  width: 100%;
}

.review__item--quote {
  width: 553px;
  margin-top: 24px;
  color: #000;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.56; /* 155.556% */
}

.review__item--author {
  margin-top: 34px;
  color: #282828;
  font-family: Sora, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1; /* 100% */
  display: flex;
  align-items: center;
}

.review__item--author::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #000;
  margin-right: 8px;
  border-radius: 99px;
}

.review__dots {
  margin-top: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.review__dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #ff5b2e;
}

.review__dot:hover {
  cursor: pointer;
  background-color: #ff5b2e;
}

.review__dot--active {
  width: 24px;
  background-color: #ff5b2e;
}

/* Blog */

.blog {
  padding-bottom: 130px;
  padding-top: 78px;
}

.blog__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog__info {
  width: 350px;
  margin-right: 74px;
}

.blog-desc {
  margin-top: 0;
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
}

.blog__cta {
  color: #ff5b2e;
  margin-top: 24px;
  width: 182px;
  border-radius: 31px;
  border: 1px solid #ff5b2e;
  /* opacity: 0.6; */
  box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.6);
  background: #fffaf5;
}

.blog__cta:hover {
  color: #fff;
  background-color: #ff5b2e;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 48px;
  margin-top: 54px;
}

.blog__item--img-wrap {
  padding: 24px 0 0 36px;
  border-radius: 24px;
  background: #90ccff;
}

.blog__item:nth-child(2) .blog__item--img-wrap {
  background: #ff997e;
}

.blog__item:nth-child(3) .blog__item--img-wrap {
  background: #5bd6e2;
}

.blog__item-time {
  display: inline-block;

  color: #fff;
  font-family: Sora, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.21; /* 121.429% */
}

.blog__item--img {
  margin-top: 24px;
  width: 100%;
  height: 296px;
  object-fit: cover;
  display: block;
}

.blog__item--info {
  padding: 28px 12px 0 0;
}

.blog__item--title {
  color: #000958;
  font-family: Sora, sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.55; /* 154.545% */
}

.blog__item--desc {
  margin-top: 16px;
  color: #656689;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
}

.footer {
  margin-top: 52px;
  padding: 52px 0;
  background: #fff6ed;
}

.footer__inner {
  display: flex;
}

.footer__left {
  margin-top: 62px;
  width: 480px;
}

.subscribe-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 34px 0 68px;
  width: 268px;
  height: 46px;
  border-radius: 99px;
  border: 1px solid rgba(255, 91, 46, 0.25);
  opacity: 0.6;
  background: #fff;
}

.subscribe-form__input {
  padding: 0 22px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: inherit;
}

.subscribe-form__submit {
  width: 46px;
  height: 46px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ff5b2e;
  box-shadow: 0 15px 28px -7px rgba(255, 91, 46, 0.3);
  outline: none;
  border: none;
  margin-right: -1px;
}

.subscribe-form__submit:hover {
  opacity: 0.9;
  cursor: pointer;
}

.footer__heading {
  color: #000958;
  font-family: Sora, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.11; /* 111.111% */
}

.social__list {
  margin-top: 16px;
  display: flex;
  column-gap: 16px;
}

.social-item {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
  background: #fff;
  box-shadow: 0 16px 28px -10px rgba(211, 132, 53, 0.33);
}

.social-item:hover {
  opacity: 0.9;
}
